.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .slider-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .slider-container label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .slider-container input[type='range'] {
    width: 200px;
    margin-right: 10px;
  }
  
  .sort-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .sort-buttons button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: white;
    color: rgb(35, 142, 241);
    border-bottom: 2px blue;
  }
  
  .product-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .product-item {
    margin-bottom: 5px;
  }
  