.card-container {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    justify-content: center;
  }
  
  .read-more {
    color: blue;
    cursor: pointer;
  }

  
  
  .card h3 {
   
    min-height: 60px;
  }
  
  .card p {
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show only 3 lines */
    -webkit-box-orient: vertical;
  }
  
  .read-more {
    color: blue;
    cursor: pointer;
  }
  .search-content .card-container{
    flex-wrap: nowrap;
  }