.heart-icon{
    margin-left: 90px;
    height: 30px;
    width: 30px;
    color: rgb(228, 39, 102);
    border: black;
    border: 1px double rgb(240, 233, 233);
}
.heart-icon:hover{
color: gray;
}

.btn-icon{
    background-color: transparent;
}
.btn-icon:hover{
   background-color: transparent;
   color: transparent;
   width: 50px;
}
.btn-compare{
    width: 200px;
    color: blue;
    background-color: transparent;
    height: 30px;
    border: transparent;
   
}
.btn-compare:hover{
    background-color: azure;
    color: bisque;
}
.compare-icon{
    border: 1px black;
    height: 20px;
    color: orange;
   
}
.btn-compare:hover{
    background-color: transparent;
}
.compare-div{
    display: flex;
    flex-direction: row;
}
